#passbtn{
    margin-top: 10%;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
    margin: 0;
    margin-left: 7.9px;
    /* top: 30px; 
    left: -75px;    */
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 10px;
	right: 0;
	margin: 10px;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}	

#browse{
    top: 100px;
}