#passbtn{
    margin-top: 10%;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
    margin: 0;
    margin-left: 7.9px;
    /* top: 30px; 
    left: -75px;    */
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 10px;
	right: 0;
	margin: 10px;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}	

#browse{
    top: 100px;
}
#lrn_scol{
    width: 200px;
    margin-left: 2px;
    border-radius: 10px;
}
#stud_name{
    width: 200px;
    margin-left: 2px;
    border-radius: 10px;

}
#grade_level{
    width: 200px;
    margin-left: 2px;
    border-radius: 10px;
}
#batch_name{
    width: 200px;
    margin-left: 2px;
    border-radius: 10px;
}
#section{
    width: 200px;
    margin-left: 2px;
    border-radius: 10px;
}
#grading{
    width: 200px;
    margin-left: 2px;
    border-radius: 10px;
}

#search_btn{
    width: 150px;
    margin-left: 2px;
    border-radius: 10px;
    margin-right: 170px;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #393939;
    overflow-x: hidden;
    padding-top: 100px;
    /* background: #393939 */
  }